In [1]:
# read the data from yelp_academic_dataset_review.json into a list of rows
# each row is decoded into a dictionary using using json.loads()
import json
import pandas as pd

with open('yelp_academic_dataset_review.json', 'rU') as f:
    data = [json.loads(row) for row in f]

In [2]:
# show the first review
data[0]

{u'business_id': u'5UmKMjUEUNdYWqANhGckJw',
 u'date': u'2012-08-01',
 u'review_id': u'Ya85v4eqdd6k9Od8HbQjyA',
 u'stars': 4,
 u'text': u'Mr Hoagie is an institution. Walking in, it does seem like a throwback to 30 years ago, old fashioned menu board, booths out of the 70s, and a large selection of food. Their speciality is the Italian Hoagie, and it is voted the best in the area year after year. I usually order the burger, while the patties are obviously cooked from frozen, all of the other ingredients are very fresh. Overall, its a good alternative to Subway, which is down the road.',
 u'type': u'review',
 u'user_id': u'PUFPaY9KxDAcGqfsorJp3Q',
 u'votes': {u'cool': 0, u'funny': 0, u'useful': 0}}

In [3]:
# convert the list of dictionaries to a DataFrame
yelp = pd.DataFrame(data)
yelp.head(1)

,business_id,date,review_id,stars,text,type,user_id,votes
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{u'funny': 0, u'useful': 0, u'cool': 0}"

In [4]:
# add DataFrame columns for cool, useful, and funny
yelp['cool'] = [row['votes']['cool'] for row in data]
yelp['useful'] = [row['votes']['useful'] for row in data]
yelp['funny'] = [row['votes']['funny'] for row in data]

In [5]:
# drop the votes column
yelp.drop('votes', axis=1, inplace=True)
yelp.head(1)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,0,0,0

In [6]:
#Explore the relationship between each of the vote types (cool/useful/funny) and the number of stars.
# treat stars as a categorical variable and look for differences between groups
yelp.groupby('stars').mean()

           cool    useful     funny
stars
1      0.267540  1.289291  0.547291
2      0.403593  1.192251  0.567436
3      0.578491  1.055353  0.520525
4      0.713787  1.063712  0.481385
5      0.545196  0.868528  0.332731